<app-course-layout
  imagenUrl="assets/adobe-photoshop/banner.jpg"
  tituloCurso="Adobe Photoshop"
  horasAcademicas="48 Horas académicas"
  duracionAprox="(1 mes aproximadamente)"
  horarios="Martes y Jueves de 7:20 - 10:00"
  otorga="CERTIFICADO VIRTUAL DEL CURSO DE ADOBE PHOTOSHOP"
  descCurso="El curso de Adobe Photoshop está orientado a principiantes y profesionales del diseño que buscan perfeccionar sus habilidades en edición de imágenes y creación gráfica. Con un enfoque técnico-práctico, los participantes aprenderán a manejar herramientas esenciales, desde la corrección de color y retoque fotográfico hasta la creación de composiciones y gráficos visuales atractivos. Ideal para aquellos que desean dar vida a sus ideas creativas."
  dirigido="Cada clase incluirá ejercicios prácticos, con un enfoque en la edición de renders y presentaciones visuales para que puedas aplicar lo aprendido en proyectos reales."
  metodologia="Con un enfoque técnico-práctico, aprenderás a crear proyectos de branding y gráficos con técnicas avanzadas y herramientas especializadas."
  ngSkipHydration
/>
