<footer class="w-full h-auto bg-azul-oscuro z-20 relative">
  <div class="w-full max-w-120 h-full mx-auto py-20 flex justify-evenly">
    <section class="flex flex-col gap-y-10 h-full my-auto">
      <img src="assets/footer/logoZaitex.svg" alt="logoZaitex" class="h-20 w-auto transition-all duration-300 hover:scale-110" />
      
      <button type="button" class="bg-azul-zai px-5 py-2 mx-auto flex gap-x-3 text-white rounded-xl">
        <img src="assets/footer/libro.svg" alt="" srcset="">
        Libro de Reclamaciones
      </button>
    </section>
    <section class="h-full">
      <nav class="flex flex-col gap-y-10">
        <a href="#" class="text-white">Inicio</a>
        <a href="#" class="text-white">Nosotros</a>
        <a href="#" class="text-white">Venta Corporativa</a>
        <a href="#" class="text-white">Métodos de Pago</a>
      </nav>
    </section>
    <section class="h-full">
      <p class="text-white">Síguenos en: </p>
      <nav class="flex gap-x-5 mt-5">
        <a href="#" title="Facebook" class="text-white w-10 h-10 rounded-full bg-azul-zai text-lg flex justify-center items-center transition-colors duration-300 hover:text-azul-zai hover:bg-white">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" title="Instagram" class="text-white w-10 h-10 rounded-full bg-azul-zai text-lg flex justify-center items-center transition-colors duration-300 hover:text-azul-zai hover:bg-white">
          <i class="fa fa-instagram " aria-hidden="true"></i>
        </a>
        <a href="#" title="Tiktok" class="text-white w-10 h-10 rounded-full bg-azul-zai text-lg flex justify-center items-center transition-colors duration-300 hover:text-azul-zai hover:bg-white">
          <i class="fa-brands fa-tiktok "></i>
        </a>
        <a href="#" title="Youtube" class="text-white w-10 h-10 rounded-full bg-azul-zai text-lg flex justify-center items-center transition-colors duration-300 hover:text-azul-zai hover:bg-white">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </nav>
    </section>
  </div>  
</footer>
