<app-course-layout
  imagenUrl="assets/corel-draw/corelBanner.jpg"
  tituloCurso="Corel Draw"
  horasAcademicas="48 Horas académicas"
  duracionAprox="(1 mes aproximadamente)"
  horarios="Sábado y Domingo de 7:20 - 10:00"
  otorga="CERTIFICADO VIRTUAL DEL CURSO DE COREL DRAW"
  descCurso="El curso de Corel Draw proporciona las herramientas necesarias para desarrollar y plasmar conceptos gráficos mediante la exploración de gráficos vectoriales, lo cual es fundamental para el branding. Durante el curso, los estudiantes aprenden a crear piezas gráficas tanto digitales como impresas. Al finalizar el curso de Corel Draw, los estudiantes son capaces de crear una variedad de piezas gráficas, tales como logos en diferentes formatos, tarjetas de presentación, plantillas para redes sociales, y brochures o flyers. Utilizan el software Corel Draw para diseñar y desarrollar su propia marca personal."
  dirigido="Está dirigido a principiantes y profesionales del diseño que buscan aprender diseño vectorial y crear proyectos de branding y gráficos."
  metodologia="Con un enfoque técnico-práctico, aprenderás a crear proyectos de branding y gráficos con técnicas avanzadas y herramientas especializadas."
  ngSkipHydration
/>
