<div class="w-full h-auto py-5 flex justify-evenly">
  <img src="{{imagenImg}}" alt="" class="w-[431px] h-[355px] object-cover rounded-[48px]">
  <div class="h-full my-auto relative">
    <div class="w-[476px] py-6 px-6 bg-blanco-comentario rounded-3xl text-2xl text-justify">
      {{comment}}
    </div>
    <div class="w-24 h-24 absolute -bottom-20 -right-5 bg-azul-oscuro z-30 rounded-xl flex justify-center items-center">
      <img src="assets/inicio/coment-icon.svg" alt="" class="w-16 h-16">
    </div>
  </div>
</div>
<p class="text-white text-center text-3xl font-bold py-5">{{nombre}}</p>