<app-course-layout
  imagenUrl="assets/adobe-ilustrator/banner.jpg"
  tituloCurso="Adobe Illustrator"
  horasAcademicas="48 Horas académicas"
  duracionAprox="(1 mes aproximadamente)"
  horarios="Lunes y Miercoles de 7:20 - 10:00"
  otorga="CERTIFICADO VIRTUAL DEL CURSO DE ADOBE ILLUSTRATOR"
  descCurso="El curso de Adobe Illustrator está diseñado para principiantes y profesionales del diseño que desean dominar el diseño vectorial y desarrollar proyectos creativos. Con una metodología técnico-práctica, los participantes aprenderán a utilizar herramientas esenciales, desde las funcionalidades básicas hasta la creación de logotipos, ilustraciones y presentaciones visuales impactantes."
  dirigido="Está dirigido a principiantes y profesionales del diseño que buscan aprender diseño vectorial y crear proyectos de branding y gráficos."
  metodologia="Con un enfoque técnico-práctico, aprenderás a crear proyectos de branding y gráficos con técnicas avanzadas y herramientas especializadas."
  ngSkipHydration
/>
