<app-course-layout
  imagenUrl="assets/cursos/trabajando.webp"
  tituloCurso="MARKETING DIGITAL CON PREMIER PRO"
  horasAcademicas="68 Horas académicas"
  duracionAprox="(1 mes y medio aproximadamente)"
  horarios="Sábado y Domingo 10:00 - 11:45 am"
  otorga="CERTIFICADO VIRTUAL DEL CURSO DE MARKETING DIGITAL CON PREMIER PRO"
  descCurso="El curso de Marketing Digital con Premier Pro está orientado a principiantes y profesionales del diseño que buscan perfeccionar sus habilidades en edición de imágenes y creación gráfica. Con un enfoque técnico-práctico, los participantes aprenderán a manejar herramientas esenciales, desde la corrección de color y retoque fotográfico hasta la creación de composiciones y gráficos visuales atractivos. Ideal para aquellos que desean dar vida a sus ideas creativas."
  dirigido="Curso de Premiere Pro orientado al marketing digital, con un enfoque técnico-práctico en edición de videos para redes sociales y campañas digitales."
  metodologia="Está dirigido a principiantes y profesionales del diseño que buscan aprender diseño vectorial y crear proyectos de branding y gráficos."
  ngSkipHydration
/>
