<app-course-layout
  imagenUrl="assets/cursos/banner.jpg"
  tituloCurso="AutoCAD para Interiores"
  horasAcademicas="48 Horas académicas"
  duracionAprox="(1 mes aproximadamente)"
  horarios="Sábado y Domingo de 9:00 am - 11:00 am"
  otorga="CERTIFICADO VIRTUAL DEL CURSO DE AUTOCAD PARA INTERIORES"
  descCurso="El curso de AutoCAD para Diseño de Interiores está orientado a principiantes y profesionales que buscan perfeccionar sus habilidades en dibujo técnico y diseño espacial. Con un enfoque técnico-práctico, los participantes aprenderán a manejar herramientas fundamentales del software, desde la creación de planos arquitectónicos detallados hasta la representación precisa de espacios interiores. Ideal para aquellos que desean dominar la planificación y diseño de ambientes, optimizando su proceso creativo y técnico para proyectos de interiores de alta calidad."
  dirigido="El curso está dirigido a estudiantes y profesionales del diseño de interiores, así como a entusiastas del sector que deseen aprender o perfeccionar sus habilidades en AutoCAD. Ideal para quienes buscan crear planos técnicos precisos y optimizar la representación de espacios interiores de forma profesional."
  metodologia="La metodología del curso es técnico-práctica, combinando teoría y ejercicios aplicados. Cada clase incluye una breve introducción teórica seguida de prácticas guiadas para aprender a utilizar las herramientas de AutoCAD en proyectos reales de diseño de interiores."
  ngSkipHydration
/>
